#Java compiled files
*.class

#Eclipse compile directory
*bin/
out/

#Eclipse settings directory
.metadata/

#gedit temporary files, and maybe all temporary files in general
*~

#Settings
*.epf
META-INF/

#Hidden files
.classpath
.project

#Personal directories
RandomBattle/scratch/

#Unecessary server files
TestServer/banned-ips.txt
TestServer/banned-players.txt
TestServer/help.yml
TestServer/ops.txt
TestServer/wepif.yml
TestServer/white-list.txt
TestServer/guiconfig.json
TestServer/server.properties
TestServer/gui.log
TestServer/server.log*

#Exclude plugin and world directories
TestServer/plugins/*/
TestServer/world*/

#Misc
*.iml
.idea
*scratch.java
*Scratch.java
